body {
    background: #e7e1e1;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    }

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    margin-left: 45px;

}

.search-tel {
    order: -1;
    align-self: center;
}

#sbtn {
    margin: 10px 5px;
}

.tel {
    margin: 10px 15px;
}

#find {
    margin: 0;
    height: 10px;
    width: 15px;
}

#phon{
    height: 10px;
    width: 20px;
}

.name {
    font-size: 3rem;
    text-align: center;
    margin-left: 1em;
    margin-right: 2em;
}

.cart{
    justify-content: center;
    align-self: center;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 145px;
}

.dropbtn {
  color: black;
  padding: 25px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e9ccb1;
}

.brend {
    background-color: #f1f1f1;
    padding: 25px 25px;
    font-size: 25px;
}

.brend:hover {
  background-color: #e9ccb1;
}

.sale {
    background-color: #f1f1f1;
    padding: 25px 25px;
    font-size: 25px;
}

.sale:hover {
  background-color: #e9ccb1;
}

.addition {
    background-color: #f1f1f1;
    padding: 25px 25px;
    font-size: 25px;
}

.addition:hover {
  background-color: #e9ccb1;
}

.cont {
    background-color: #f1f1f1;
    padding: 25px 25px;
    font-size: 25px;
}

.cont:hover {
  background-color: #e9ccb1;
}

@media (max-width:780px) {
   .brend { 
       display: none;
   }     
   .sale {
       display: none;
   }
   .addition {
      display: none; 
   }
   .cont {
      display: none;
   }
}

@media (max-width:1024px) {
    #searc {
        display: none;
    }
}
 
