body {
    background: #e7e1e1;
    font-family: 'Times New Roman', Times, serif, sans-serif;

    }
a {
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;

}
.search-tel {
    order: -1;
    align-self: center;
    }
#find {
    height: 10px;
    width: 20px;
}
#phon{
    height: 10px;
    width: 20px;
}
.name {
    font-size: 3rem;
    text-align: center;
}
.cart{
    justify-content: center;
    align-self: center;
    font-size: 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
        color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin: 0;
  border: 1px #e7e1e1;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e9ccb1;
}
.sale {
    background-color: #f1f1f1;
    padding: 16px 16px;
}

.brend {
    background-color: #f1f1f1;
    padding: 12px 16px;
}

.addition {
    background-color: #f1f1f1;
    padding: 12px 16px;
}

.cont {
    background-color: #f1f1f1;
    padding: 12px 16px;
}